version: "3.8" 
• services: 
•   backend: 
•     build: ./backend 
•     container_name: mern-backend 
•     ports: 
•       - "3000:3000" 
•     env_file: 
•       - .env 
•     restart: always 
•  
•   frontend: 
•     build: ./frontend 
•     container_name: mern-frontend 
•     ports: 
•       - "80:80" 
•     depends_on: 
•       - backend 
•  restart: always