services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - CORS_ORIGIN=http://localhost:80

      

      - NODE_ENV=development
    depends_on:
      - frontend

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "80:80"
